#{extends 'main.html' /}
#{set title:'Respond to ' + twitterUser /}

<div class="respond" data-role="page">
    <div data-role="header">
        <a href="@{People.detail(twitterUser)}" data-direction="reverse" data-icon="back">@${twitterUser}</a>
        <h1>Respond to ${twitterUser}</h1>
    </div><!-- /header -->
    <div data-role="content">
        <!-- TODO Add relevant Tweet here -->
        #{if tweet}
            <div class="ui-body ui-body-e">${tweet.getText()}</div>
        #{/if}
        <form action="@{People.updateStatus()}" method="POST" data-transition="fade">
	        <textarea name="msg" class="msg" maxlength="140">@${twitterUser} ${msg}</textarea>
         
            #{ authenticityToken /}
            <input type="hidden" name="twitterUser" value="${twitterUser}">
            <input type="hidden" name="tweetId" value="${tweet?.getId()}">

            <fieldset class="ui-grid-a">
			    <div class="ui-block-a">
			        <a href="@{People.detail(twitterUser)}" data-role="button" data-direction="reverse">Cancel</a>
                </div>
			    <div class="ui-block-b">
		            <input data-theme="b" type="submit" value="Send">
                </div>
			</fieldset>
        </form>
    </div>
</div>
