#{extends 'main.html' /}
#{set title:'Home' /}

<div class="index" data-role="page" data-url="/">
    <div data-role="header">
        <a href="@{Application.refresh()}" data-icon="refresh" data-transition="fade" >Refresh</a>
        
        #{if user.getLocationStr() }
	        <h1>${user.getLocationStr()}</h1>
            <a href="@{Application.waiting}" class="removeEvent" data-icon="grid" data-theme="a" data-iconpos="right">Change event</a>
        #{/if}
        
        #{else}
            <h1>Home</h1>
            <a href="@{Event.list()}" class="addEvent" data-transition="slideup" data-icon="plus" data-iconpos="right">Add event</a>
        #{/else}
       
    </div><!-- /header -->

    <div data-role="content">
        #{if tweets.isEmpty() }
            <div class="ui-body ui-body-e">There are no recommended users at this time, please modify your keywords or search at a later time.</div>
        #{/if}
        #{else}
	        <ul class="suggestions" data-role="listview">	
            #{list tweets, as:'tweet'}
	            <li>
	            <a class="suggestion" href="@{People.detail(tweet.getFromUser())}">
	                <img src="${tweet.getProfileImageUrl()}" alt="Twitter profile picture">
	                <h3><span class="screenname">@${tweet.getFromUser()}</span></h3>
                    <p class="tweet">${tweet.getText()}</p>
	            </a>
	            </li>
            #{/list}
	        </ul>
        #{/else}
    </div><!-- /content -->
    
    <!--- hidden element to get to keywords in the JS --->
    <input type="hidden" class="keywords" value="${user.keywords}" />
    #{if user.conference}
	    <input type="hidden" class="hashtag" value="${user.conference.hashtag}" />
    #{/if}
    
    <div data-role="footer" data-id="footer" data-position="fixed" style="padding: 5px 0 10px 0">
        <a href="@{Application.config()}" class="button-left" data-icon="gear" data-transition="slidedown">Configure</a>
        <a href="@{RequiresLogin.logout()}" class="button-right" rel="external" data-icon="delete" data-iconpos="right">Logout</a>
    </div><!-- /footer -->
</div><!-- /page -->
